DB_ADDR=mediaciptainformasi.co.id
DB_USER=postgres
DB_PASS=
DB_NAME=db_puskesmas
DB_PORT=5436

DB_ADDR=mediaciptainformasi.co.id
DB2_USER=postgres
DB2_PASS=
DB2_NAME=db_puskesmas
DB2_PORT=5436

RECAPTCHA2_SITEKEY=6Lfdhf0SAAAAALBYu2gB4p5A0wAxXYp6TfAf8EvJ
RECAPTCHA2_SECRET=6Lfdhf0SAAAAANxRrj1Y1xE1D_-4_Tfp1S0uuKWI


